@import url("swiperCustom.css");
@import url("tooltips.css");

/*
==========================
FUENTES PERSONALIZADAS
==========================
*/
@font-face{
	font-family: 'dancing';
	src: url('../rsc/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}
@font-face{
  font-family: 'muli';
  src: url('../rsc/fonts/Muli-VariableFont_wght.ttf') format('truetype');
}
@font-face{
  font-family: 'indie';
  src: url('../rsc/fonts/IndieFlower-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'warm';
  src: url('../rsc/fonts/Warmesty.ttf') format('truetype');
}
@font-face{
  font-family: 'breath';
  src: url(../rsc/fonts/Breathing.ttf) format('truetype');
}
@font-face{
  font-family: 'patrick';
  src: url(../rsc/fonts/PatrickHand-Regular.ttf) format('truetype');
}



:root{
--morado: #793DA3;
--darkm: #3D1C55;
--swiper-navigation-color :#793DA3;
--swiper-pagination-color :#793DA3;
}

*{ margin:0px; padding: 0px; box-sizing: border-box;}

::selection { background: goldenrod; color:white;}

/* CSS del Carrito Pedido*/

.bolsa{
    align-self: center;
}

.direction{
    font-family: muli; 
    font-size: 21px; 
    color: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titlePedido{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: muli;
    color: gray;
    flex-direction: column;
}

.nameProduct{
    width: 150px; 
    margin-right: 12px;
}

.btnBuyWrapper{
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.btnBuyWrapperP3{
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.btnBuyWrapper2{
    display: flex;
    width: 450px;
    justify-content: center;
}

.contePedido{
  display: flex; 
  align-items: center;
  /*flex-direction: column;*/
}

.imagencita{
    width: 100px;
    border: solid 3px #EDBC41;
}

  .pasaFix{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .imgPasa{
    width: 850px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: 30px;
  }


  .btnPago{
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 54px;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 8px;
    background: var(--morado);
    color: white;
    border: none;
    font-family: 'muli';
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
  .imagencitaPago{
    width: 50px;
    border: solid 3px #EDBC41;
    margin-right: 12px
  }


.liClass{
    display: flex;
    justify-content: center;
}

.listado{
    /*display: flex;*/
    /*flex-direction: column;*/
}

.medioPago{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
    background: lightgrey; 
    margin: 20px; 
    padding: 20px;
}


.inpPedido{
    padding: 15px;
}

  .trash{
    margin-left:20px; 
    padding: 10px; 
    background: gray; 
    color: snow; 
    border-radius: 23px; 
    height: 43px; 
    cursor: pointer;
    position: absolute;
    right: 25%;
    /*bottom: 13px;*/
  }

 .btnCompra{
    width: 130px;
    border-radius: 50px;
    background: var(--morado);
    color: white;
    border: none;
    font-family: 'muli';
    padding: 10px;
    font-size: 16px;
 }
 .btnCompra2{
     border-radius: 8px;
    background: var(--morado);
    color: white;
    border: none;
    font-family: 'muli';
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
 }
 .btntarjeta{
    border-radius: 8px;
    background: var(--morado);
    color: white;
    border: none;
    font-family: 'muli';
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
 }        
 .productosCarrito{
    width: 100%;
    display: flex;
    justify-content: flex-end;
 }


.domiDirect{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 8px;
}
.formDire{
    display:flex;
}
.carritoDesktop{
    display: block;
}   
.carritoMovil{
    display: none;
}
.chekDire{
    background: none; 
    color: var(--morado); 
    border:none; 
   
    font-size: 38px;

}

.btnIniNavDesktop{
    display: block;
}

.btnIniNavMoviles{
     display: none;
}

.imgSlide1{
  width: 380px; 
  position: absolute;
  top:50%;
  left: 10px;
  transform: translateY(-50%);
}

.btnProductosbottom{
    background: none; 
    list-style: none; 
    display: flex; 
    justify-content: center; 
    padding-left: 0; 
    margin-bottom: 0px; 
    margin-top: 20px;
}

.objRow{
    position: relative;
    top: 20px;
}

.btnHome{
  cursor: pointer;
  background: #793DA3;
  float:left;
  border-radius: 0px 0px 69px 67px;
}
.btnHomeIndex{
  background: #793DA3;
  float:left;
  border-radius: 0px 0px 69px 67px;
}

/*date Custom*/

.sliderTop{
    position:relative;
    clear: both;
    top: -74px;
}
.sliderTop2{
    position:relative;
    clear: both; 
    top: 0px;
}
.sectionMain{
    display: flex;
    flex-wrap: wrap;
    top: 0px;
}

.teset {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: 'muli';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f, 40%);
  outline: none;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;

  &::-webkit-datetime-edit-month-field {
    color: red;
  }
  &::-webkit-datetime-edit-day-field {
    color: white;
  }
  &::-webkit-datetime-edit-year-field {
    color: blue;
  }

  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;

    &:hover {
      background-color: lighten(#2f2f2f, 40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

footer{
  position: relative;
  height: 250px;
  background: #6E5384;
  text-align: center;
}

.footer2{
  position: relative;
  height: 250px;
  background: #6E5384;
  text-align: center;
  width: 100%;
  /*top: 150px;*/
}

.body{
    background-image:url(../rsc/img/fondoflores.jpg);
    background-attachment:fixed;
    background-size: cover;
    /*height: 200%;*/
}
.body2{
    background-image:url(../rsc/img/fondoflores.jpg);
    background-attachment:fixed;
    background-size: cover;
}
.body3{
    background-image:url(../rsc/img/fondoflores.jpg);
    background-attachment:fixed;
    background-size: cover;
    min-height: 100%;
    margin-bottom: -50px; 
}
.footer2,
.push{
  height: 250px;
}


.logoHorizontal{
  display: none;
}

/* BARRA NAV CSS*/

.logoWeb{/*  float:left;*/}

.navCustom{/*Rebecca Purple*/
  background: #793DA3;
}

.logoMovil{
	display: none;
	background: none;
	width: 130px;
	height:130px;
	position:relative; 
	top:0; left:0;
}

.logoWeb2{
  border-radius: 63px; 
  width: 130px; 
  position: relative; 
  border: indigo solid 6px;
  cursor: pointer;
}

.buscaNav{
  display: none;
}
.buscaNav2{
	position: absolute;
	right: 0px;
	top: 9px;
}

.inputCustom2{
  float: left;
  display: block;
  width: 67%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formuIniciar{
  text-align: center;
}

.dropCustom ul li{
  margin: 10px;
}

.inputDrop{
  border-radius: 9px;
  border: lightgray solid 1px;
  padding: 2px 6px;
  color: var(--morado);
  width: 100%;
}

.btnInicio{
  border: none; 
  background: var(--morado); 
  color:white;
  padding: 4px 13px;
  border-radius: 20px;
}

.dropdown-menu{
    width: 300px;
}

.nombreUser{
  
  margin-right: 20px;
}

/*===================================*/

.txtSlide{
  color: #745bb9;
  font-family: 'muli';
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.015em;
  font-variation-settings: 'wght' 275;
  width: 65%;
  margin-left: auto;
}

.tituloSlide1{
  line-height: 45px;
}
.tituloSlide{
  color: #5d2091;
  font-family: 'patrick';
  font-size: 51px;
  margin-bottom: 10px;
  line-height: 54px;
  /*width: 85%;*/
}


.expo{
  display: flex;
 /* width: 25%;*/
}

.imgExpo{
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
 /* margin-left: auto;*/
  border: solid 10px #EDBC41;
  object-fit: cover;
}

.txtExpo{
  width: 60%; 
  /*margin: auto; */
  /*margin-top: 50px;*/
  background: none;
  padding-left: 30px;
}

.section1{
  display: flex;
  flex-wrap: wrap;
  top: -75px;
  /*flex-direction: column;*/
   
}

.botonesNov{
  padding: 8px 7px;
}

.tituloNovedad{

  color: var(--darkm);
  font-family: 'patrick'; 
  font-size: 35px;
  padding: 20px;
}

.fenlace:hover{
  color: purple;
}

.fenlace{
  font-family: 'muli';
  color: var(--darkm);
}

.nav-tabs{
  border-bottom: 1px solid snow;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  color: snow;
  background-color: var(--darkm);
  border-color: var(--darkm) var(--darkm) var(--darkm);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: snow;
  background-color: var(--darkm);
  border-color: snow snow snow;
}

.active{
  color: var(--darkm);

}

.textoNovedad{
/*    
  height: 118px;
  overflow: auto;
  */
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 0px;
}

.lineaSeparacion{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px gray; 
  width: 80%;
  top: -75px;
}


section{
	background: none;
	position: relative;
  background: rgba(210, 193, 224, 0.6);

  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}


.likeNovedad{
  color: gray; 
  font-size: 30px;
}
.likeCard{
  color: gray;
  font-size: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.numlike1{
  font-family: 'muli'; 
  font-size: 20px;
}

.conteNav{
  margin-left: 0px;
}

.botonCarta:hover{
  color: white;
  background: var(--darkm);
}

.botonCarta{
  position: relative;
  bottom: 0px;
  background: var(--morado);
  font-family: 'muli';
  color: white;
  border-radius: 20px;
}

.carritoCarta:hover{
  color: var(--darkm);
}

.carritoCarta{
  color: var(--morado);
/*  position: absolute;
  right: 19px;
  bottom: 17px;*/
  font-size: 32px;
  cursor: pointer;
}

.carritoCartaVer{
  color: snow;
  font-size: 20px;
  cursor: pointer;
}





.R1{
  background: none;
  }
.R2{
    
}
.novedad{
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
  background: none;
}

.R3{
  background: none;
}

.productos{
  position: relative;
  top: -62px;
}

.bloqueProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cuadro1{
  width: 21%; 
  margin: 20px;
}

.navPaginas{

  position: relative;
  height: 60px;
  background: none;
}

.pagBtns{
  color: var(--morado);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-item.active .page-link{
  background-color: var(--morado);
  border-color: var(--morado);
}

.page-link{
  color: var(--morado);
}


/*FORMULARIO DE REGISTRO*/

.formuRegistro{
/*  display: flex;
  flex-direction: column;
  align-items: start;*/
}

.inpCustom{
  width: 73%;
  padding: 5px;
  border-radius: 5px;
  border: solid lightgray 1px;
  color: var(--morado);
}

.inp{
  width: 73%;
  margin: 14px;
  padding: 5px;
  border-radius: 5px;
  border: solid lightgray 1px;
  color: var(--morado);
}

.dateInp{
  width: 33%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 12px;
  border: none;
  color: var(--morado);
}

.registroFooter{
  position: relative;
  bottom: 0;
}

.sectionRegistro{
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
  /*height: 543px;*/
  position: relative;
  margin-bottom: 129px;
}

/* REGISTRO COMPRA*/

.rCompraN{
  height: 600px;
}

.rCompra{
  height: 900px;
}

.inp2{
  width: 47%;
  /*margin: 14px;*/
  padding: 5px;
  border-radius: .25rem;
  border: solid lightgray 1px;
  color: var(--morado);
}

.inpDirePerfil{
  display: flex;
  justify-content: space-between;
  width: 73%;
  /*margin: auto;*/
  margin-bottom: 14px;
  margin-top: 25px;
}
.inpDire2Perfil{
  display: flex;
  justify-content: space-between;
  width: 73%;
  /*margin: auto;*/
  margin-bottom: 14px;
  margin-top: 14px;
}


.inpDire{
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin: auto;
  margin-bottom: 14px;
  margin-top: 25px;
}

.inpDire2{
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin: auto;
  margin-bottom: 14px;
  margin-top: 14px;
}

.inp3{
  width: 30%;
  /*margin: 14px;*/
  padding: 5px;
  border-radius: .25rem;
  border: solid lightgray 1px;
  color: var(--morado);
}

.inputDateCustom{
    width: 47%;
}

.dateWrapper2{
  width: 73%;
  display: flex;
  background: none;
  justify-content: space-between;
  margin: auto;
  align-items: flex-start;
  margin-top: 14px;
  margin-bottom: 23px;
}

.selectSexo2{
  width: 47%;
  padding: 5px;
  height: 35px;
}

.dateInpCompra{
  /*width: 33%;*/
  /*margin-right: 10px;*/
  padding: 5px;
  border-radius: .25rem;
  border: solid 1px lightgrey;
  color: #212529;
}

/**/


.marcoRegistro{
  background: none;
  padding: 30px;
  border: solid var(--darkm) 32px;
  width: 60%;
  margin: auto;
}
.conteRegistro{
  width: 100%;
  background: #9f7cba;
  position: relative;
  margin: auto;
  padding: 10px;
  text-align: center;
/*  border-radius: 40px;*/
}

.titleR{
  font-family: 'warm';
  color: snow;
}

.selectSexo{
  width: 137px;
  padding: 5px;
 /* margin: 10px 0px;*/
  height: 35px;
}

.btnRegistro{
  width: 33%;
  border: none;
  background: purple;
  border-radius: 15px;
  color:snow;
  padding: 5px;
  margin: 10px 0px;
}

.btnWrapper{
  display: flex; 
  width: 73%; 
  background: none; 
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.enlaceFinalDESKTOP{
  display: block;
  margin: 10px; 
  color: snow;
  /*justify-content: center;*/
}

.enlaceFinal{
  display: none;
  margin: 10px; 
  color: snow;
  /*justify-content: center;*/
}

.dateWrapper{
  width: 73%;
  display: flex;
  background: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 23px;
}

.wrappInput3Perfil{
    width: 73%;
    display: flex;
    justify-content: space-between;
    /*margin: auto;*/
    margin-top: 22px;
    margin-bottom: 15px;
}
.wrappInput3{
    width: 73%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 15px;
}




/* === MAIN === */

.not{
  display: none;
}
.not2{
  display: none;
}
.not3{
  display: none;
}

.barraUsuario{  
  /*background: lightgrey;*/ 
  text-align: center; 
  padding: 15px;
  font-family: 'patrick';
  color: var(--darkm);
}

.ulUsuario{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 24px;
  width: 84%;
  padding-left: 0px;
  margin-bottom: 0px;
  /*height: 100px; */
}
.ulUsuarioIndex{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 24px;
  width: 84%;
  padding-left: 0px;
  margin-bottom: 0px;
  height: 100px; 
}

.swiperMain{
  top: 0px;
  margin-bottom: 40px;
}

.fotoUser{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.fotoUserIndex{
  border-radius: 50%;
  height: 70px;
}
.cerrarS a:hover{
    color: var(--morado);
}
.cerrarS a{
    color: var(--darkm);
}
.cerrarF a{
    color: blueviolet;
}


/* VER CUADROS*/

.sect1{
  display: flex;
  flex-direction: column;
  width: 600px;
  background: none;
}
.sect2{
  display: flex;
  flex-direction: column;
  padding: 17px; 
  width: 100%; 
  background: snow;
}

.showImg{
  width: 600px;
  border: solid 14px goldenrod;
}

.contenedorCuadros{
  position: relative;
  background: snow; 
  width: 80%; 
  display: flex; 
  margin: 40px;
}

#fConsulta{
  margin: 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.botonCompra{
  width: 170px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background: purple;
  color: snow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: end;
}

#botonComentarios{
  padding: 4px;
  background: #9802fd;
  border-radius: 7px;
  color: snow;
  border: none;
  margin-top: 10px;
  height: 35px;
}

#textoComent{
  height: 120px;
  width: 500px;
}

.botonVolver1{
  border-radius: 8px;
  background: var(--morado);
  color: white;
  border: none;
  font-family: 'muli';
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  position: absolute;
  top: -10%;
}

.botonVolver1:hover{
  background: var(--darkm);
  color: magenta;
}

.avisoRegistro{
  background: purple;
  padding: 10px;
  color: snow;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 15px;
}
.enviaRegistro{
  padding: 10px;
  background: darkorange;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  position: relative;
  top: 25px;
  width: 150px;
  display: block;
  text-align: center;
}
.contAvisoVer{
  height: 30vh;
}

.verAgrega{
  text-decoration: none;
  color: snow;
}

.botoneraVer{
  display: flex; 
  max-width: 500px; 
  width: 100%;
  justify-content: space-between;
}

/*RECUPERA CLAVE*/

.bodyrecupera{
  height: 100vh;
}

.footerRecupera{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: #6E5384;
  text-align: center;
}

.sectionRecupera{
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
  height: calc(100vh - 380px);
  position: relative;
  margin-bottom: 129px;
}

.marcoRecupera{
  background: none;
  padding: 30px;
  border: solid var(--darkm) 32px;
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ==== editar perfil ======*/

.cForm{
  background: #f9d7ed;
  padding: 15px;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
}
.seccionPerfil{
  display: flex;
  justify-content: center;
  background: none;
}
.field1{
  display: flex;
}
.perfilInput{
  padding: 3px;
  border-radius: 5px;
  border: none;
}

.btnDataPersonal{
  width: 150px;
  border-radius: 5px;
  border: none;
  height: 30px;
  align-self: end;
  margin-left: 15px;
  background: blueviolet;
  color: snow;
}

.ancho100{
  width: 100%;
}

.mTop{
  margin-top: 0px;
}

.seekFoto3{
  position: relative;
  z-index: 10;
  background: purple;
  padding: 5px;
  color: snow;
  width: 144px;
  border-radius: 8px;
  border: none;
}

.btnDataPersonal2{
  width: 150px;
  border-radius: 5px;
  border: none;
  height: 40px;
  align-self: end;
  background: blueviolet;
  color: snow;
}

/*=== Sweet Alerts ======*/

.confirmSweet{
  background: blueviolet !important;
  color: snow !important;
}

.titleSweet{
  font-family: 'patrick';
}

.titleSweet2{
  font-family: 'patrick';
  color: red;
}

.contenidoSweet{
  font-family: patrick;
  font-size: 27px;
  color: #2fd700;
}

.contenidoSweet2{
  font-family: patrick;
  font-size: 27px;
  color: red;
}

.buscaNuevo{
  width: 30%; 
  display: flex; 
  float: right;
}

.DesktopBusca{
  position: relative;
  top: 9px;
}

/*PAGO Y DOM BOTONES*/


.conteBotones{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .btnsP:hover{
    color: orange;
  }

  /*FLECHITA*/

  #arriba{
    position: fixed;
    right: 18px;
    top: 61%;
    z-index: 100;
    font-size: 40px;
    color: purple;
    display: none;
    background: #ffc0cb3d;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
  }

  #flechita{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

.inp4{
    width: 20%;
    padding: 5px;
    border-radius: .25rem;
    border: solid lightgray 1px;
    color: var(--morado);
  }

.butonera{
  height: 70px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
}

.butonPerfil{
  width: 150px;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin-left: 15px;
  background: blueviolet;
  color: snow;
}

.btnBuyWrapperPc{
  display: flex;
  width: 450px;
  justify-content: space-between;
}


/*TV*/
@media screen and (min-width: 1367px){



}  

/*PIXEL X PIXEL LOL*/
@media screen and (max-width: 1260px){

.showImg {
  width: 520px;
}

.sect2 {
  padding: 17px 17px 0 17px;
}

/*DESKTOP*/
@media screen and (max-width: 1240px){
 

/*VER CUADRO*/

.botonCompra{
  /*margin-top: 15px;*/
}

.showImg{
  width: 500px;
}

#textoComent{
  height: 100px;
  width: 350px;
}

.botoneraVer{
  max-width: 350px;
}


/*==========*/

.imgSlide1 {
    width: 300px;
}


.tituloNovedad{
  padding: 10px;
}

.tituloSlide{
  font-size: 41px;
}

.tituloSlide1{
  line-height: 34px;
}
.textoSlide1{
  width: 50%;
}
.txtSlide{
  font-size: 25px;
}

.cuadro1{
  width: 23%;
  margin: 8px;
}

.conteBotones{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .btnsP:hover{
    color: orange;
  }

}

@media screen and (max-width: 1024px){

/*VER CUADROS*/

.sect1{
  width: 100%;
}

.showImg{
  width: 100%;
}

.contenedorCuadros{
  width: 500px;
  display: flex;
  flex-direction: column;
}
/*======*/

.nameProduct{
  width: 150px; 
  margin-right: 0px;
}

.contePedido{
  display: flex; 
  align-items: flex-start;
  flex-direction: column;
}

.imagencita{
    width: 140px;
}

.ulPedido{
    width: 80%; 
    display: flex; 
    justify-content: center;
}

.imgSlide1 {
    /*width: 400px;*/
}

.bloqueProductos{
  justify-content: space-around;
}
.cuadro1{
  width: 42%;
  margin: 10px;
}

.botonVolver1{
  border-radius: 8px;
  background: var(--morado);
  padding: 6px;
  font-size: 15px;
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
}

}

@media screen and (max-width: 990px){

.wrappInput3Perfil{
  flex-direction: column;
}

.agarra{
  margin-bottom: 10px;
}

.retamano{
  width: 100px
}


.buscaNuevo{
  display: none;
}



#textoComent{
  height: 100px;
  width: 100%;
}

    
.pasa1{
    width: 95%;
}    
.btnBuyWrapper{
    width: 400px;
}  
.btnCompra2{
   border-radius: 5px;
   font-size: 14px;
   text-decoration: none;
   display: flex;
   align-items: center;
   height: max-content;
   align-self: center;
}    
   medioPago{
   width: 100%; 
   }
   
.trash{
   height: 43px; 
   position: absolute;
   z-index: 100;
   right: 20px;
}

.btnIniNavDesktop{
    display: none;
}
.btnIniNavMoviles{
     display: block;
}
  
.sliderTop{
    top: 0px;
}

/* == NAVEGADOR == */
.dropdown-menu{
    width: 50%;
}

.inputDrop{
    width: 100%;
}

.logoMovil{
	display: block;
	width: 100%;
	position: relative;
	background: none;
}
 .logoWeb{
  position: relative;
  right: 0%;
  z-index: 100;
  display: none;
}
.buscaNav{
  display: flex;
	position: absolute;
	top: 93px;
	right: 15px;
	max-width: 65%;
  z-index: 100;
}
.buscaNav2{
	position: absolute;
	right: 0px;
	display: none;
}


.inputCustom{
	float: left;
	display: block;
    width: 73%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 0px;
}
.btnCustom{
	float: right;
}
.btnToggler{
	position: absolute;
	right: 0;
	top: 0;
}
.btnToggler2{
	display: none;
}
.swiper-container {
    top: 0px;
 }
.conteNav{
  margin-left: 30px;
}

.ulUsuarioIndex{
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 5px 0px;
    width: 100%;
}


/* == NAVEGADOR FIN == */


.R1{
  background: purple;
  display: none;
}
.R2{
}

.R3{
  background: dodgerblue;
  display: none;
}

.section1{
  top: 0px;
  /*flex-direction: column;*/   
}

.lineaSeparacion{
  top: 0px;
}

section{
	top: 0px;
}

.productos{
  position: relative;
  top: 0px;
}

.imgSlide1 {
    /*width: 350px;*/
}

.tituloSlide1{
  line-height: 32px;
}

.tituloSlide{
  font-size: 33px;
  line-height: 44px;
}

.txtSlide{
  font-size: 24px;
}

.bloqueProductos{
  justify-content: space-around;
}
.cuadro1{
  width: 40%;
  margin: 12px;
}

.objRow{
    top:0px;
}
.btnProductosbottom{
    margin-bottom: 30px;
}



/* ========== REGISTRO CSS ========== */

.enlaceFinalDESKTOP{
  display: none;
  margin: 10px; 
  color: snow;
  /*justify-content: center;*/
}

.enlaceFinal{
  display: flex;
  margin: 10px; 
  color: snow;
  justify-content: center;
}

.sectionRegistro{
  height: 692px;
  margin-bottom: 0px;
}
/*Registro Compra*/
.rCompra{
  height: 1000px;
}

.marcoRegistro{
  width: 80%;
  margin-top: 38px;
}


/* == MAIN == */

.ulUsuario{
  width: 100%;
}

/*EDITAR PERFIL*/

.field1{
  flex-direction: column;
}
.perfilInput{
  width: 70%;
}

.mx-3{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btnDataPersonal{
  margin-left: 0;
  align-self: flex-start;
}
.mTop{
  margin-top: 12px;
}


/*==================*/

.botoneraVer{
  max-width: 100%;
}



}


@media screen and (max-width: 768px){


.inpDirePerfil{
  flex-direction: column;
  height: 95px;
}

.inpDire2Perfil{
  flex-direction: column;
  height: 95px;
}
.ancho{
  width: 50%;
}

.extraCss{
  height: 106px;
}

.moveB{
  margin-top: 30px;
}

.imgPasa{
  width: 350px;
}


.marcoRecupera{
  padding: 15px;
  border: solid var(--darkm) 18px;
}


.listado{
    display: flex;
    flex-direction: column;
}

.imagencita{
    width: 150px;
}

.domicili{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.active{
    display: flex;
}    
.carritoDesktop{
    display: none;
}    
    
.carritoMovil{
   display: block; 
}       
.dropdown-menu {
    width: 60%;
}    
.inputDrop{
    width: 80%;
}

.swiper-container{
   height: 720px;
}  

.a1{
  display: flex;
  flex-direction: column-reverse;
}

.textoSlide1{
  width: 48%;
}

.fotoSlide1{
  width: 46%;
}
.imgSlide1{
  top: 57%;
}

.tituloSlide{
  font-size: 31px;
}

.txtSlide{
  font-size: 20px;
  line-height: 32px;
  margin: auto;
}

.textoSlide1{
  width: 75%;
  height: 250px;
  justify-content: flex-start;
  margin-top: 25px;
}

.tituloSlide1{
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexBio{
    text-align: center;
}

.novedad{
  flex-direction: column;
}
section{
  padding-bottom: 30px;
}

.tituloNovedad{
  text-align: center;
}

.imgExpo{
  margin: auto;
}
.txtExpo{
  width: 90%;
  margin: auto;
  padding-left: 0px;
}
.btnSlide1{
  margin: auto;
}

.bloqueProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cuadro1{
  width: 75%;
  margin: 20px;
}

/*REGISTRO*/

.marcoRegistro{
  width: 90%;
}

.marcoRegistro{
  padding: 9px;
  border: solid var(--darkm) 18px;
}

.formuRegistro input{
  /*width: 90%;*/
}

.btnWrapper{
width: 90%;
}

.ulUsuario{
  display: flex;
  padding: 0px 40px;
  font-size: 18px;
  /*height: 226px;*/
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
} 

.btnBuyWrapper{
    width: auto;
    height: 120px;
    flex-direction : column;
    align-items: center;
}

.fotoUser{
  height: 90px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  object-fit: cover;
}



.cerrarS{
  background: #eec55f;
  padding: 3px 10px;
  border-radius: 15px;
  color: snow;
  margin-top: 4px;
}

.cerrarS a{
    color: snow;
}
.saveBuy{
   padding: 0px; 
}
.imagencita{
    width: 118px;
}

#persona{
  align-self: center;
  font-size: 30px;
}

.conteBotones{  
    left: 50%;    
    flex-direction: column;
  }


}

@media screen and (max-width: 576px){

.ulUsuario{
  padding: 0px 30px;
}
/*VER CUADROS*/

.contenedorCuadros{
  width: 400px;
}
.contAvisoVer {
    height: 45vh;
}

.showImg{
  border: solid 9px goldenrod;
}

/*===*/


.direction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePedido{
    height: 60px;
    font-size: 28px;
}

.ulPedido{
    width: 95%; 
}

.body{
    background-image:url(../rsc/img/fondoflores2.jpg);
}
    
.dropdown-menu {
    width: 100%;
}    
.inputDrop{
    width: 80%;
}

.inputCustom{
  clear: both;
}

.conteNav{
  margin-left: 0px;
}

.buscaNav{
  display: flex;
  right: 10px;
  width: 57%;
}

.btnCustom{
  padding: 4px;
}

.swiper-container{
  height: 720px;
}

.fotoSlide1{
  width: 62%;
}
.imgSlide1{
  top: 57%;
}

.btnSlide1{
  /*margin-left: revert;*/
}

.a1{
  display: flex;
  flex-direction: column-reverse;
}

.textoSlide1{
  width: 75%;
  justify-content: flex-start;
  margin-top: 25px;
}

.tituloSlide1{
    text-align: left;
    line-height: 30px;
}

/*REGISTRO*/

.selectSexo{
    width: 115px;
}

.btnRegistro{
    width: 46%;
}

.dateWrapper2{
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.rCompra {
    height: 1070px;
}
.inputDateCustom{
    width: 100%;
    margin-bottom: 14px;
}

.selectSexo2{
    width: 70%;
}

.inpDire{
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inpDire2{
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.dire2Custom{
    width:100%;
    margin-top: 0px;
}

.inp{
    width: 100%;
    margin: 0px 0px 20px;
}

.inp2{
    width: 70%;
}

.cl576{
   margin-bottom: 20px; 
}

.smallInp{
    width: 48%;
}

.teset{
    text-align: center;
}

.wrappInput3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inp3{
    width: 31%;
}

.ulUsuario{
  font-size: 18px;
  /*height: 226px;*/
  justify-content: space-evenly;
  /*align-items: flex-start;*/
  /*flex-direction: column;*/
}






}

@media screen and (max-width: 476px){

/*VER CUADROS*/

.contenedorCuadros{
  width: 350px;
}
/*===*/

.marcoRecupera{
  width: 90%;
}

.logoHorizontal{
  display: block;
  width: 100%; 
  background: #FBFBFB; 
  text-align: center;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}

.logoWeb2{
  display: none;
}

.btnToggler{
  left: 0px;
}

.buscaNav{
  display: flex;
  right: 17px;
  width: 57%;
  top: 11px;
}

.logoMovil{
  height: 48px;
}

.inputCustom{
  margin-right: 3px!important;
}

.btnCustom{
  padding: 4px;
}

.swiper-container{
  height: 600px;
}

.tituloSlide{
  font-size: 30px;
  text-align: center;
  line-height: 36px;
}

.imgExpo{
  width: 250px;
  height: 250px;
}

.fotoSlide1{
  width: 65%;
}

.imgSlide1{
    width: 275px;
}

.textoSlide1{
    height: 225px;
    margin-bottom: 45px;
}

.txtSlide{
  font-size: 18px;
  line-height: 30px;
  width: 90%;
}

.btnSlide1{
  padding: 4px;
  
}
.cuadro1{
    width: 90%;
}
.tituloBio{
    line-height: 40px;
    margin-bottom: 15px;
}


/*REGISTRO*/

.sectionRegistro{
  height: 688;
}

.btnWrapper{
  flex-direction: column;
  align-items: center;
}

.btnRegistro{
  width: 80%;
  padding: 8px;
  border-radius: 20px;
}

.enlaceFinal{
  flex-direction: column;
}

.selectSexo{
  margin-bottom: 14px;
}

.inpDire{
    
}

/*MAIN*/

.nombreUser{
  font-size: 21px;
  margin-right: 0px;
}

.botoneraVer{
  flex-direction: column;
  height: 120px;
}

#botonComentarios{
  width: 170px;
  align-self: center;
}

.botonCompra{
  align-self: center;
}

.btntarjeta{
   font-size: 14px;
}  



}


@media screen and (max-width: 375px){


#persona {
    align-self: flex-start;
    font-size: 30px;
}    

.formPedido{
    font-size: 15px;
}


.imagencita{
    width: 115px;
}

.btn-close{
    padding: 10px;
}


.wrappInput3{
    font-size: 13px;
}

.fotoSlide1{
  width: 64%;
}

.imgSlide1{
    width: 100%;
    top:55%;
    left: 0px;
}















}














